<!DOCTYPE html><html>
  <head>
          <title>PokeTube | Subscriptions </title>
        <meta name="viewport" content="width=device-1200px, initial-scale=1.0, shrink-to-fit=yes, viewport-fit=cover">
      <link href=/css/yt-ukraine.svg?v=6 rel=icon>
       <link href=/css/app.main.css?v=44600 rel=stylesheet>
    <style>

        /* Define the grid container */
.grid-container {
    display: grid;
  grid-template-columns: repeat(2, 0.2fr);
  gap: 2px; /* Set the gap between grid items */
    margin-left: auto;
    margin-right: auto;
    max-width: 15em;
}

/* Style for grid items */
.grid-item {
    background-color: #333;
    padding: 20px;
   max-width:5em;
  text-align: center;
    border-radius: 1em;
}

body{
font-family:sans-serif;
color:#fff;
background-image: radial-gradient(circle, #231638, #2b160e, #09250e, #0f132b);
  animation: gradient 64s ease infinite;
  background-size: 400% 400%;}
      
      
      h1 {
        font-family:"poketube flex";
        font-weight: 800;
        font-stretch: extra-expanded;
      }
      
a {
  background: #111;
  padding: 5px;
  color: #fff;
  text-decoration: none !important;
  border-radius: 5px;
}
      

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
    </style>
  </head>
  <body>
    User: <%- userid %><br>
    <i><b>do not share ur user id with anyone</b></i><br><br>
     <div>
        <a style="margin-top:-59px; float: right" href="/api/get-channel-subs?ID=<%- userid %>">view json</a>
    </div>
    <br>
    
     <center>
    <h1>
      My subscriptions
       </h1>
    </center>
              <div class="grid-container">
          <% if (userSubs) { %>
 <% for (const channelID in userSubs) { %>
            <div class="grid-item">
                              <img style="width:5em;border-radius:5px" src="<%= userSubs[channelID].avatar %>" alt="Avatar"><br >
<br>
               <%= userSubs[channelID].channelName %><br>
                 <div style="gap: 1px;display: flex;margin-left: -12px;">
              <a href="/api/remove-channel-sub?ID=<%- userid %>&channelID=<%= channelID %>" style="margin-bottom:1px">unsub </a> <a href="/channel?id=<%= channelID %>">view</a>
            </div>            </div>

        <% } %>
		         <% } %>

          </div>
 
    </div>
   </body>
</html>
 