<!--
    This Source Code Form is subject to the terms of the GNU General Public License:

    Copyright (C) 2021-2022 POKETUBE (https://github.com/iamashley0/poketube)
    
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see https://www.gnu.org/licenses/.
-->
<head>
    <% if (ID === "UCFAiFyGs6oDiF1Nf-rRJpZA") { %> 
    <title>Technoblade Never Dies! - PokeTube</title>
 <% } %>
    <title><%=j.Channel.Metadata.Name%> - PokeTube</title>
   <link href=https://watch.poketalebot.com/css/yt-ukraine.svg rel=icon>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Sigmar+One&amp;display=swap" rel="stylesheet"> 
    <meta content=website property=og:type>
    <meta content="<%=j.Channel.Metadata.Name%> - PokeTube" property=og:title>
       <link href=/css/yt-ukraine.svg?v=6 rel=icon>
    <meta content="<%-desc.replace(/\n/g, " ")%>" property=twitter:description>
    <meta content="<%=j.Channel.Metadata.Banners.Thumbnail[2].$t%>" property=og:image>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <meta content=summary_large_image name=twitter:card>
    <meta content=@PoketaleBot name=twitter:site>
    <meta content=@PoketaleBot name=twitter:creator>
     <link href=https://cdn.poketalebot.com/404/v2.css rel=stylesheet>
    <link href=/css/app.main.css rel=stylesheet>
      <link href=/css/search.main.css?v=5736 rel=stylesheet>
 <style> 
              @font-face {
        font-family: 'Ginto Nord';
        font-weight: 800;
        src:url('https://cdn.statically.io/gh/brecert/discord-quote-generator/main/Ginto-Nord-800.woff') format("woff");
      }
        
        .channel-info-container > img {
  width: 100%;
}
        :root {
    --text-primary: #fff;
    --text-secondary: #fff;
    --text-link: #3ea6ff;
          
    --app-background: #000;
    --context-menu-background: #000;
    --border-color: #444;
    --item-hover-background: #000;
    --item-active-background: #000;
    --top-bar-background: #000;
    --guide-background: #000;
    --thumbnail-background: #000;
    --channel-info-background: #000;
    --channel-contents-background: #000;
}
  
   .video-grid > .video {
   background-color: #181818;
border-radius: 8px;
   }
      </style>
 </head>
<body>
     <center> 
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@900&family=Sigmar+One&display=swap" rel=stylesheet>
    <link href=https://site-assets.fontawesome.com/releases/v6.1.1/css/all.css rel=stylesheet>
    <center>
        <nav>
            <div class=left><a class="class" href="/143" style=font-family:Inter,sans-serif;color:#fff><img style="width: 8.5em;display: block;margin-left: auto;margin-right: auto;" src="/css/logo.svg?v=5">                                                                                                                    <a href="/domains"><i  style="display: block;margin-left: auto;margin-right: auto;" class="fas fa-server"></i>  </a></div>               
            <div class=middle>
                <form action=/api/search><input class=search-bar id=fname name=query style=color:#fff;font-family:Roboto,sans-serif> <button class="btn btn-success" type=submit><i class="fas fa-search"></i></button></form>
            </div>
 
        </nav> 
       
        <section class=youtube-video>
     <div class="app">
<div class="channel-page">

<div class="channel-page">
 <div class="channel-info-container">
          <img src="<%=j.Channel.Metadata.Banners.Thumbnail[2].$t%>">
		<div class="channel-info" >
			<a href="/channel?id=<%=ID%>" class="avatar">
				<img src="<%=j.Channel.Metadata.Avatars.Thumbnail.$t%>" alt="Channel Avatar">
			</a>
			<div class="name">
				<p style="font-family:Ginto Nord,sans-serif;font-weight:900;white-space:yes;"><%=j.Channel.Metadata.Name%></p>
 			</div>
			<button class="subscribe-button"><%=subs%></button>
		</div>
	</div>  <hr style="clear: both;display: block;border: none;border-bottom: 0.5px solid #2f2f2f;margin: 0 0;/*! width: 4.5em; */height: 0;">

        <% if (ID === "UCFAiFyGs6oDiF1Nf-rRJpZA") { %> 
                        <a href="https://www.curesarcoma.org/donate/">Donate to curesarcoma.org</a><br>
<p>
Technoblade never dies!  <a href="https://technoblade.com/">More info</a>
          </p><hr>
       <% } %>
<h3 style="color:#fff;text-transform: uppercase;font-family:Ginto Nord,sans-serif;font-weight:900;white-space:yes;font-style: italic;">About this channel</h3>
  <br><br>   <hr style="clear: both;display: block;border: none;border-bottom: 0.5px solid #2f2f2f;margin: 0 0;/*! width: 4.5em; */height: 0;">

	<p style="color:#fff"><%-desc.replace(/\n/g, " <br> ")%></p>
	<br><br>
	<h3 style="color:#fff;text-transform: uppercase;font-family:Ginto Nord,sans-serif;font-weight:900;white-space:yes;  font-style: italic;">Uploads</h3>
         <p style="color:#fff;font-family:Ginto Nord,sans-serif;font-weight:900;white-space:yes;">
           the last few uploads of the <%=j.Channel.Metadata.Name%> channel !
         </p>                                <hr style="clear: both;display: block;border: none;border-bottom: 0.5px solid #2f2f2f;margin: 0 0;/*! width: 4.5em; */height: 0;">

            <div align="center">

   	<div class="video-grid">
   <% tj.Channel.Contents.ItemSection.ItemSection.Video.forEach(x =>  { %>
			<a href="/watch?v=<%- x.id %>" class="video">
				<div class="thumbnail" style="background-image: url('https://i.ytimg.com/vi/<%= x.id %>/hqdefault.jpg?sqp=-oaymwEbCKgBEF5IVfKriqkDDggBFQAAiEIYAXABwAEG&rs=AOn4CLBy_x4UUHLNDZtJtH0PXeQGoRFTgw');border-radius: 4px;"><span class="video-length"><%- x.duration %></span></div>
				<div class="info">
					<span class="title max-lines-2" style="font-family:Ginto Nord,sans-serif;"><%- x.Title %></span>
			 
            </div>
 			</a>	
 		 	               <% }) %>   
                       </div>

	</div>
              </body>
 
   
 
</html>
