 <% try { %>

<!--
    This Source Code Form is subject to the terms of the GNU General Public License:

    Copyright (C) 2021-2024 POKETUBE (https://codeberg.org/Ashley/poketube)
    
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see https://www.gnu.org/licenses/.
-->
<!DOCTYPE html><html><head>
   <!-- ðŸ· ðŸŽ—ï¸ -->
   
    <% if (ID === "UCFAiFyGs6oDiF1Nf-rRJpZA") { %> 
    <title>Technoblade Never Dies! | Poke</title>
 <% } %>
    <title><%=j.Channel?.Metadata.Name%> | Poke</title>
    <link rel="manifest" href="/manifest.json">
    <link href="css/yt-ukraine.svg" rel=icon>
    <meta content=website property=og:type>
    <link rel="alternate" type="application/rss+xml" href="/feeds/videos.xml?channel_id=<%=ID%>">
    <meta content="<%=j.Channel?.Metadata.Name%> - Poke" property=og:title>
    <meta content="<%- cinv?.description %>" property=twitter:description>
    <meta name="darkreader-lock"> <!-- tells dark reader that the site has a dark theme and to turn itself off -->
    <meta content="<%=j.Channel?.Metadata.Avatars.Thumbnail?.$t%>" property=og:image>
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
  <style> 
    * {
      color:#fff
    }
              @font-face {
        font-family: 'Ginto Nord';
        font-weight: 800;
        src:url('https://p.poketube.fun/https://cdn.statically.io/gh/brecert/discord-quote-generator/main/Ginto-Nord-800.woff') format("woff");
      }
        
         
          .channel-info-container > img {
  width: 98%;
  border-radius: 1em;
  margin-top: 6px;
  margin-bottom: -9px;
}
        :root {
    --text-primary: #fff;
    --text-secondary: #fff;
    --text-link: #3ea6ff;
          
    --app-background: #000;
    --context-menu-background: #000;
    --border-color: #444;
    --item-hover-background: #000;
    --item-active-background: #000;
    --top-bar-background: #000;
    --guide-background: #000;
    --thumbnail-background: #000;
    --channel-info-background: #000;
    --channel-contents-background: #000;
}
    
    
.tags.rec {
  font-weight: 600;
  font-stretch: expanded;
  overflow:hidden;
  width: auto;
  max-width: fit-content;
  margin-right: auto;
  padding-left: 1.5em;
  margin-top: 7px;
  display: flex;
  gap: 3px;
}

.tags.rec:hover{
  overflow-x:auto;
}

.tags.rec > .tag {
  border-radius: 8px;
}

.tag {
  background: #333;
  padding: 5px;
  border-radius: 4px;
    border-radius: 8px;
  word-break: break-all;
  white-space: nowrap;
  font-family: ubuntu, sans-serif;
}

  

      </style>  
        <!-- STYLES START -->
  
<style>
   a.class:hover {
    text-decoration:none;
    font-weight:bold
   }
   summary{
     color:gray;
   }
   summary:hover{
    color:white;
    }
  
  :visited { color: #00c0ff }
     
  a{
  color:#0ab7f0;
   }
  
  .community {
    display: flex;
flex-direction: column;
align-items: center;
border-radius: 30px;
padding: 10px;
  padding-bottom: 10px;
width: fit-content;
margin-top: 12px;
margin-left: auto;
margin-right: auto;
padding-bottom: 32px;
  }
.community-content {
  margin-bottom: 1em;
  margin-top: 1em;
  padding: 13px;
  text-align: left;
  background: #111;
  width:50.562em;
  border-radius: 22px;
}
  
   .community-attachment-video {
 
  }
  
  .comments-author {
  margin: 7px;
    margin-top: -2px;
  font-family: inter;
  white-space: -moz-pre-wrap !important;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: pre-wrap;
  word-wrap: anywhere;
  white-space: -webkit-pre-wrap;
  word-break: break-all;
  white-space: normal;
}
  
  .video-grid > .video {
  border-radius: 16px;
  background: black;
  padding: 6px;
  border: #333 solid;
}
  .subscribe-button {
  background-color: white !important;
  color: black !important;
  text-transform: none !important;
  font-weight: bold !important;
  padding: 0px 15px !important;
  border: none !important;
  margin: auto !important;
  height: 37px !important;
  border-radius: 34px !important;
}
  
  .subs {
    margin: 0.6em;text-align: left;margin-left: 0px;margin-top: -1em;font-family: "PokeTube flex";font-weight: 1000;font-stretch: ultra-expanded;
  }
  
  
  .tag.c:hover {
  background: var(--chip-background-hover);
}
   </style>
   
  <!-- STYLES START -->
  
<style>

.tags-channel {
  display:flex;
  flex-direction:row;
  overflow-x:auto;
  column-gap:3px
}
.tag-channel {
  background:#333;
  padding:5px;
  border-radius:4px;
  word-break:break-all;
  white-space:nowrap;
  font-family:PokeTube Flex,sans-serif
}

   a.class:hover {
    text-decoration:underline;
    font-weight:bold
   }
   summary{
     color:gray;
   }
   summary:hover{
    color:white;
    }
  
  :visited { color: #00c0ff }
     
  a{
  color:#0ab7f0;
   }
   </style>
  
  <link href=/css/app-cdn.min.css rel=stylesheet>
  <link href=/css/app.main.css?v=44600 rel=stylesheet>
  <link href="/css/watch.main.css?v=56" rel=stylesheet>
   <link href="/css/watch-util.css" rel=stylesheet>

   
  <!-- NEW NAVBAR -->
    <link href="/css/watch-navbar.css?v=56" rel=stylesheet>

  
   <!-- STYLES END -->
<link href=https://p.poketube.fun/https://site-assets.fontawesome.com/releases/v6.1.1/css/all.css rel=stylesheet>

      <style>section p {
        
 font-family:Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
 font-weight:400;
 color:#fff;
 font-size:16px;
 line-height:24px;
 margin-top:12px
}
    
.sticky-top {
	 position: sticky;
	 top: 0px;
	 z-index: 999;
}
 .responsive {
	 width: 100%;
	 overflow-x: auto;
}
 .tabs {
	 display: table;
   font-family:inter;
	 border-collapse: separate;
	 table-layout: auto;
	 border-spacing: 4px 0;
}
.tabs.tabs-center {
    margin-left: 2em;
    margin-top: 3em !important;
    font-size: 12px;
    font-family: ubuntu;
    border-top-right-radius: 11px;
    border-top-left-radius: 11px;
    background: #333;
}
 .tabs.tabs-justify {
	 width: 100%;
	 table-layout: fixed;
}
 .tabs a.tab {
	 position: relative;
	 display: table-cell;
text-transform:uppercase;
	 transition: all ease 0.3s;
	 padding: 1em 1.6em;
	 transform: translate3d(0, 0, 0);
	 color: #898989;
	 white-space: nowrap;
	 cursor: pointer;
}

 .tabs a.tab:after {
	 transition: all 0.3s cubic-bezier(1, 0, 0, 1);
	 will-change: transform, box-shadow, opacity;
	 position: absolute;
	 content: '';
	 height: 3px;
	 bottom: 0px;
	 left: 0px;
	 right: 0px;
	 border-radius: 3px 3px 0px 0px;
	 background: #9fdafd;
	 box-shadow: 0px 4px 10px 3px rgba(60, 180, 250, .15);
	 opacity: 0;
	 transform: scale(0, 1);
}
 .tabs a.tab.active {
	 color: #fff;
}
 .tabs a.tab.active:after {
	 opacity: 1;
	 transform: scale(1, 1);
}            
        
       
                     
                     </style>
                     
  <% if(!isMobile) { %>
    <noscript>
    <style>
    #search {
  display: none;
}
      
.subscribe-button.needs-js {
  display: none;
}      

.subscribe-button {
  margin-right: 6px !important;
  margin-top: 10px !important;
  margin-left: -4px !important;
}
    </style>
    </noscript>
    <style>
      .channel-info > .avatar > img {
  width: auto;
  height: auto;
  max-height: 150px;
}
      
      @media screen and (max-width: 1230px) {
      .channel-info > .avatar > img {
     margin-left: 1em;
}
        .name {
            margin-left: 5em !important;
        }
}

      .subscribe-button:hover {
  animation: animateBg 2s infinite linear;
  background-color: #fff;
  background-image: linear-gradient(90deg,#da3287,#ffde5e,#da3287,#ffde5e);
  background-size: 300% 100%;
  box-shadow: 0 3px 14px #000;
  cursor: pointer;
}

@keyframes animateBg {
  0% {
    background-position:0 0
  }
  100% {
    background-position:100% 0
  }
}
      .video:hover{
        border:solid;
      }
      .name{
        text-align: left;
      }
       .tabs a.tab:hover {
	 color: #fff;
   border: solid;
   text-decoration: none;
	 background: #333;
	 border-top-left-radius: 1em;
	 border-top-right-radius: 1em;
}
        .subs {
    margin: 0.6em;text-align: left;margin-left: 0px;margin-top: -1em;font-family: "PokeTube flex";font-weight: 1000;font-stretch: ultra-expanded;
  }
        #popup-container {
  display: none;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #111;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            padding: 20px;
            border-radius: 8px;
            z-index: 1;
  width: 45em;
  height: 24em;
  overflow:auto;
        }

        #close-btn {
            cursor: pointer;
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 18px;
            color: #555;
        }
          .video-grid {
  display: flex;
  flex-wrap: wrap;
   row-gap: 40px;
  padding: 16px;
  max-inline-size: 164ch;
  justify-content: space-around;
 } 
      
.shr {
color:#ea9999 !important;
}


      .channel-page .video-grid {
  background-color: black;
}
      
    </style>
   <% } %>

 
                       <% if (isMobile) { %>  
                         
                         
<style>
  .community-content{ 
  margin-bottom: 1em;
  margin-top: 1em;
  padding: 13px;
   text-align: left;
   background: #1a1a1a;
  width: fit-content;
  border-radius: 22px;
  }
  
       .tabs a.tab:hover {
	 color: #fff;
   text-decoration: none;
}
  
  .community {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  padding: 10px;
    padding-bottom: 10px;
  padding-bottom: 10px;
  margin-top: 12px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 32px;
  max-width: 37em;
}
  .subscribe-button {
  background-color: white !important;
  color: black !important;
  text-transform: none !important;
  font-weight: bold !important;
  padding: 0px 15px !important;
  border: none !important;
  margin: auto !important;
  height: 37px !important;
  border-radius: 34px !important;
  font-stretch: ultra-expanded !important;
  font-family: "PokeTube flex";
  width: 20em;
}
  .video-grid{
    justify-content:center;
  }       

  .channel-info{
    text-align:center;
  }
  
  
.sticky-top {
	 position: sticky;
	 top: 0px;
	 z-index: 999;
}
 .responsive {
	 width: 100%;
	 overflow-x: auto;
}
 .tabs {
	 display: table;
   font-family:inter;
	 border-collapse: separate;
	 table-layout: auto;
}
 .tabs.tabs-center {
	 margin: auto;
   font-size:15px
}

 .tabs.tabs-justify {
	 width: 100%;
	 table-layout: fixed;
}
 .tabs a.tab {
	 position: relative;
	 display: table-cell;
   text-transform:uppercase;
	 transition: all ease 0.3s;
	 padding: 1em 1.6em;
	 transform: translate3d(0, 0, 0);
	 color: #fff;
	 white-space: nowrap;
	 cursor: pointer;
}
 .tabs a.tab:hover {
	 color: #3cb4fa;
}
 .tabs a.tab:after {
	 transition: all 0.3s cubic-bezier(1, 0, 0, 1);
	 will-change: transform, box-shadow, opacity;
	 position: absolute;
	 content: '';
	 height: 3px;
	 bottom: 0px;
	 left: 0px;
	 right: 0px;
	 border-radius: 3px 3px 0px 0px;
	 background: #9fdafd;
	 box-shadow: 0px 4px 10px 3px rgba(60, 180, 250, .15);
	 opacity: 0;
	 transform: scale(0, 1);
}
 .tabs a.tab.active {
	 color: #fff;
}
 .tabs a.tab.active:after {
	 opacity: 1;
	 transform: scale(1, 1);
}
  body {
    background-color:#111
  }
  
    
 .subscribe-button:hover {
	text-decoration: none !important;
	background: #f2ebeb !important;
	cursor: pointer;
}
  </style>
                 <% } %>

   <!-- STYLES END -->
  </head>
<body>

                  <% if (!isMobile) { %>  
     <nav>
      <div class="left"><a class="class" href="/143" style=font-family:Inter,sans-serif;color:#fff> <img style="transform: scale(1.3);padding-left:0.9em;width: 8.5em;display: block;margin-left: auto;margin-right: auto;" src="/css/logo.svg?v=5">         </a>             </div>                                    
      <div class="middle">
      <div class="search" style="margin-right: 5em;">
        
        <form action="/search">
   <input class="search-bar" autocomplete="on" id="fname" name="query" value="channel:<%=ID%>" style="color:#fff;font-family:Inter,sans-serif;border-radius: 8px;" data-ddg-inputtype="identities.firstName">
  

          <button class="btn btn-success" type="submit"><i class="fa-light fa-search"></i></button>
        
        </form>
  
      </div>
 
      </div>
      <div class="right">
      <a href="/privacy" style="text-decoration: none;" title="Privacy Policy">
          <i style="display: block;margin-left: auto;margin-right: auto;" class="fa-light fa-shield"></i>
        </a>
        <a href="/video/upload" style="text-decoration: none;" title="Upload Video">
          <i style="display: block;margin-left: auto;margin-right: auto;" class="fa-light fa-video"></i>
        </a>
                         
        
      </div>
    </nav>
	   
 
                                                                                      <% } %>


	   
                         <% if (isMobile) { %>  
      <nav style="background-color:#111">
      <div class="left">
  <i onclick="window.history.back()" style="color:#fff;padding: 10px;" class="fa-solid fa-chevron-left"></i>
         
        
        <p style="font-family:Ginto Nord,sans-serif;font-weight:900;white-space:yes;"><%=j.Channel?.Metadata.Name%></p>

        </div>                                    
     
        <div class="right">
               
       <a href="/app?tab=search" style="position: absolute;right: 0;margin: 2em;" ><i class="fa-light fa-search"></i></a> 

            </div>
     
 
         <hr style="clear: both;display: block;border: none;border-bottom: 0.5px solid #2f2f2f;/*! width: 4.5em; */height: 0;">

 
    </nav>

                                                                                     <% } %>
                         <% if (cinv.error) { %>  
<style>

body {
background: #111 !important;
height: 100%;
}
.banned-user {
	border-radius: 50%;
	margin-bottom: -2em;
	pointer-events: none;
}
.ban-reason {
    background:  #b91f1f;
  border-radius: 2em;
  padding: 10px;
  margin-top: 4em;
} 

</style>
<img class="banned-user" src="<%- media_proxy_url %>/proxy?url=https://yt3.googleusercontent.com/a/default-user=s100-c-k-c0x00ffffff-no-rj">
<p class="ban-reason"> <%- cinv.error %> </p>

                         <% if (cinv.error == "Could not get channel info.") { %>  
                                <meta http-equiv="refresh" content="1"> 
                                                                                           <% } %>

                                                                                           <% } %>

        <section class=youtube-video>
<div class="channel-page">

<div class="channel-page">

                                                      <% if (!cinv.error) { %>  
    
          <% if (!isMobile) { %>  
            <div class="channel-info-container" style="text-align: center;">
              
<% if (cinv?.authorBanners) { %>
    <% let bannerFound = false; %>
    <% for (let i = 0; i < cinv.authorBanners.length; i++) { %>
        <% if (cinv.authorBanners[i]?.url) { %>
            <img src="<%- media_proxy_url %>/proxy?url=<%= cinv.authorBanners[i].url %>" style="height: 30em; object-fit: cover; pointer-events: none;" id="banner_version_<%= i %>">
            <% bannerFound = true; %>
            <% break; %>
        <% } %>
    <% } %>
    <% if (!bannerFound) { %>
        <img src="/static/shapes-dark.png" style="height: 30em; object-fit: cover; pointer-events: none;" id="default_banner">
    <% } %>
<% } else { %>
    <img src="/static/shapes-dark.png" style="height: 30em; object-fit: cover; pointer-events: none;" id="default_banner">
<% } %>


<div class="channel-info" style="margin-bottom: 3em;margin-left:2em;margin-top: -11em;">
		<a href="/avatars/<%=j.Channel?.Metadata.Avatars.Thumbnail?.$t.replace("https://yt3.googleusercontent.com/", "")%>" class="avatar">
				<img src="/avatars/<%=j.Channel?.Metadata.Avatars.Thumbnail?.$t.replace("https://yt3.googleusercontent.com/", "")%>" alt="Channel Avatar" style="border: 1px solid gray;border-radius: 50%;">
			</a>
      
    
              <% if (cinv?.authorVerified) { %>
                <style>

                              .name {
              border:solid 1px #df80ff;
                }  
                
                </style>

        
                
                                               <% } %>

			<div class="name" style="background: #333;border-radius: 12px;padding: 17px;height: 7em;margin-left: 4em;margin-top: 7px;gap: 3px;">
				<p style="font-family:PokeTube Flex,sans-serif;font-weight:1000;font-stretch: ultra-expanded;margin-top: 16px;margin-bottom: 15px;"><%=j.Channel?.Metadata.Name%>
          
                <% if (firstVideo?.authorVerified) { %>
                <span style="padding: 1px;padding-top:  2.5px !important;display: inline-flex;border-radius: 3px;">

                                
 <i class="fa-solid fa-badge-check" style="width: 18px;margin-right:1px" title="Verified Channel"></i>

 </span> 
                                                                 <% } %>
 <span style="font-size: 10px;color: gray;">@<%- cinv.authorId %>@youtube.com</span>
</p>           
                    <p style="margin-bottom: -17px;" class="subs"><%= subs %> subscribers - <%- pronoun %></p>
 
<p style="padding:0;font-weight:bold;max-inline-size: 37em;display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;"> 
 
<% try { %>
  <%- getFirstLine(cinv.description).slice(0, 60) || "More from this channel (soon)"%>
  <a href="/channel?id=<%=ID%>&tab=about&legacy=true" id="popup-trigger">
<% } catch (error) { %>
  <!-- Handle the error here, if it occurs -->
  <p>Error: <%= error.message %></p>
<% } %>

  <i class="fa-thin fa-angle-right"></i></a><br><button class="subscribe-button needs-js" style="text-decoration: none;margin-right:6px !important;margin-top: 10px !important;margin-left: -4px !important;">    <a style="color: black;
white-space: nowrap;text-decoration: none;" id="sub">Suscribe</a></button><button class="subscribe-button " style="text-decoration: none;">    <a style="color: black;
white-space: nowrap;text-decoration: none;" href="/feeds/videos.xml?channel_id=<%=ID%>">Rss feed </a></button>
      
        </p>
  
 			</div>
  
      
		</div>
                                    <% if (!isMobile) { %>  
                                      <div style="display: flex;
  flex-direction: row;">
                                      <div class="tabs  tabs-center" style="margin-top: 26px;">
                        <% if (!tab) { %>

                <a href="/channel?id=<%=ID%>" class="tab active" style="color:#cfe2f3;">Videos</a>
              
<%  if (Array.isArray(shorts?.videos)) { %> 
    <%  if (shorts.videos[0]) { %> 
<%  if (turntomins(shorts.videos[0].lengthSeconds)  != "aN:aN" ) { %> 


                   <a href="/channel?id=<%=ID%>&tab=shorts" class="tab shr">Shorts</a>
  <% } %>
      <% } %>

      <% } %>
        
                          <%  if (Array.isArray(stream?.videos)) { %> 
                                <%  if (stream.videos[0]) { %> 

<%  if (turntomins(stream.videos[0].lengthSeconds)  != "aN:aN" ) { %> 

                   <a href="/channel?id=<%=ID%>&tab=live" class="tab" style="color:#d9ead3;">Live</a>
  <% } %>
      <% } %>

      <% } %>

                           <%  if (Array.isArray(c?.comments)) { %> 

  <%  if (c.comments.length != "0") { %> 

     <a  href="/channel?id=<%=ID%>&tab=community"  class="tab" style="color:pink">Posts</a>
                                                                         <% } %>
                                                                         <% } %>

<%  if (Array.isArray(playlist?.playlists)) { %> 

  <%  if (playlist.playlists.length != "0") { %> 

     <a  href="/channel?id=<%=ID%>&tab=playlist"  class="tab" style="color:pink">Playlists</a>
                                                                         <% } %>
                                                                         <% } %>

 
                                                                <% } %>
                                                                  
<% if (tab === "playlist") { %>

                <a href="/channel?id=<%=ID%>" class="tab" style="color:#cfe2f3;">Videos</a>
              
<%  if (Array.isArray(shorts?.videos)) { %> 
    <%  if (shorts.videos[0]) { %> 
<%  if (turntomins(shorts.videos[0].lengthSeconds)  != "aN:aN" ) { %> 


                   <a href="/channel?id=<%=ID%>&tab=shorts" class="tab shr">Shorts</a>
  <% } %>
      <% } %>

      <% } %>
        
                          <%  if (Array.isArray(stream?.videos)) { %> 
                                <%  if (stream.videos[0]) { %> 

<%  if (turntomins(stream.videos[0].lengthSeconds)  != "aN:aN" ) { %> 

                   <a href="/channel?id=<%=ID%>&tab=live" class="tab" style="color:#d9ead3;">Live</a>
  <% } %>
      <% } %>

      <% } %>

                           <%  if (Array.isArray(c?.comments)) { %> 

  <%  if (c.comments.length != "0") { %> 

     <a  href="/channel?id=<%=ID%>&tab=community"  class="tab" style="color:pink">Posts</a>
                                                                         <% } %>
                                                                         <% } %>

<%  if (Array.isArray(playlist?.playlists)) { %> 

  <%  if (playlist.playlists.length != "0") { %> 

     <a  href="/channel?id=<%=ID%>&tab=playlist"  class="tab active" style="color:pink">Playlists</a>
                                                                         <% } %>
                                                                         <% } %>

 
                                                                <% } %>
                                                                  
                                                                             <% if (tab === "about") { %>

                <a href="/channel?id=<%=ID%>" class="tab" style="color:#cfe2f3;">Videos</a>
<%  if (Array.isArray(shorts?.videos)) { %> 
<%  if (shorts.videos[0]) { %> 
<%  if (turntomins(shorts.videos[0].lengthSeconds)  != "aN:aN" ) { %> 

                   <a href="/channel?id=<%=ID%>&tab=shorts" class="tab shr">Shorts</a>
  <% } %>
                                                                             <% } %>

      <% } %>

 <%  if (Array?.isArray(stream?.videos)) { %> 
<%  if (stream?.videos[0]) { %> 
<%  if (turntomins(stream?.videos[0]?.lengthSeconds)  != "aN:aN" ) { %> 
  

                   <a href="/channel?id=<%=ID%>&tab=live" class="tab" style="color:#d9ead3;">Live</a>
  <% } %>
      <% } %>
        <% } %>
        
  <%  if (Array?.isArray(c?.comments)) { %> 

  <%  if (c?.comments?.length != "0") { %> 

     <a  href="/channel?id=<%=ID%>&tab=community"  class="tab" style="color:pink">Posts</a>
                                                                             <% } %>
                                             
                                                                          <% } %>

                                                                <% } %>
                                                                 
                                                                      <% if (tab === "community") { %>

                <a href="/channel?id=<%=ID%>" class="tab"  style="color:#cfe2f3;">Videos</a>
                       <%  if (Array?.isArray(shorts?.videos)) { %> 
<%  if (turntomins(shorts?.videos[0]?.lengthSeconds)  != "aN:aN" ) { %> 

                   <a href="/channel?id=<%=ID%>&tab=shorts" class="tab shr">Shorts</a>
  <% } %>
      <% } %>
    
 <%  if (Array?.isArray(stream?.videos)) { %> 
   <%  if (stream?.videos[0]) { %> 

<%  if (turntomins(stream?.videos[0]?.lengthSeconds)  != "aN:aN" ) { %> 

                   <a href="/channel?id=<%=ID%>&tab=live" class="tab" style="color:#d9ead3;">Live</a>
  <% } %>
      <% } %>

      <% } %>

     <a  href="/channel?id=<%=ID%>&tab=community"  class="tab active" style="color:pink">Posts</a>
 
  
<%  if (Array.isArray(playlist?.playlists)) { %> 

  <%  if (playlist.playlists.length != "0") { %> 

     <a  href="/channel?id=<%=ID%>&tab=playlist"  class="tab" style="color:pink">Playlists</a>
                                                                         <% } %>
                                                                         <% } %>

                                                                <% } %>

                                                                                     <% if (tab === "shorts") { %>
 <%  if (Array?.isArray(tj?.videos)) { %> 
   <%  if (tj?.videos[0]) { %> 
<%  if (turntomins(tj?.videos[0]?.lengthSeconds)  != "aN:aN" ) { %> 

                <a href="/channel?id=<%=ID%>" class="tab" style="color:#cfe2f3;">Videos</a>
  <% } %>
      <% } %>

      <% } %>
<%  if (Array?.isArray(shorts?.videos)) { %> 

                   <a href="/channel?id=<%=ID%>&tab=shorts" class="tab active shr">Shorts</a>
  <% } %>
 <%  if (Array?.isArray(stream?.videos)) { %> 
   <%  if (stream?.videos[0]) { %> 
<%  if (turntomins(stream?.videos[0]?.lengthSeconds)  != "aN:aN" ) { %> 

                   <a href="/channel?id=<%=ID%>&tab=live" class="tab" style="color:#d9ead3;">Live</a>
  <% } %>
      <% } %>

      <% } %>
        
  <%  if (Array?.isArray(c?.comments)) { %> 

  <%  if (c?.comments?.length != "0") { %> 

     <a  href="/channel?id=<%=ID%>&tab=community"  class="tab" style="color:pink">Posts</a>
                                                                         <% } %>
                                                                         <% } %>

                                                                           
<%  if (Array.isArray(playlist?.playlists)) { %> 

  <%  if (playlist.playlists.length != "0") { %> 

     <a  href="/channel?id=<%=ID%>&tab=playlist"  class="tab" style="color:pink">Playlists</a>
                                                                         <% } %>
                                                                         <% } %>
                                                                           
                                                                <% } %>
                                                                 
    <% if (tab === "live") { %>

                <a href="/channel?id=<%=ID%>" class="tab"  style="color:#cfe2f3;">Videos</a>
<%  if (Array?.isArray(shorts?.videos)) { %> 
  
<%  if (turntomins(shorts?.videos[0]?.lengthSeconds)  != "aN:aN" ) { %> 

                   <a href="/channel?id=<%=ID%>&tab=shorts" class="tab shr">Shorts</a>
  <% } %>
      <% } %>
        
     <%  if (Array?.isArray(stream?.videos)) { %> 

                   <a href="/channel?id=<%=ID%>&tab=live" class="tab active" style="color:#d9ead3;">Live</a>
  <% } %>
    
  <%  if (Array?.isArray(c?.comments)) { %> 

  <%  if (c?.comments?.length != "0") { %> 

     <a  href="/channel?id=<%=ID%>&tab=community"  class="tab" style="color:pink">Posts</a>
                                                                         <% } %>
                                                                         <% } %>

                                                                <% } %>
                                                                            
            </div>
     
<input type="text" id="search" placeholder="Search :3" style="margin-top: 2em;height: 1em;color: #fff;background: #111;border-radius: 1em;padding: 7px;margin-left: auto;margin-right: 1em;">                                                                           </div>
     
     
     <% } %>
           
	</div> 
                                           <% } %>
                                               <% if (isMobile) { %>  
                   <div class="channel-info-container" style="text-align: center;">

                                      <% if (j.Channel?.Metadata.Banners.Thumbnail) { %>

          <img src="https://p.poketube.fun/<%=j.Channel?.Metadata.Banners.Thumbnail[3].$t%>">
                               <% } %>
                                 
 
<div class="channel-info" style="display: flex;
padding-bottom: 0;
font-weight: bold;
justify-content: center;
flex-direction: column;
gap: 0px;
margin: auto;">


			<a href="/channel?id=<%=ID%>" class="avatar" style="height: 6em;
display: flex;
flex-direction: column;
align-content: center;
margin: auto;
width: fit-content;
">
				<img src="https://p.poketube.fun/<%=j.Channel?.Metadata.Avatars.Thumbnail.$t%>" alt="Channel Avatar">
			</a>
			<div class="name">
				<p style="font-family:PokeTube Flex,sans-serif;font-weight:1000;font-stretch: ultra-expanded;white-space:yes;"> <%=j.Channel?.Metadata.Name%>  </p>
          <p style="margin: -9px;">
            			<%= subs %> subscribers - <%- pronoun %>

        </p>
 			</div>
      <p style="padding:0;font-weight:bold;"> 
   <%-getFirstLine(cinv.description)%> <a href="/channel?id=<%=ID%>&tab=about">
<i class="fa-thin fa-angle-right"></i></a>
        </p>
         <a href="/feeds/videos.xml?channel_id=<%=ID%>"><button class="subscribe-button">Rss feed</button>
</a> 

    
        
  <% if (isMobile) { %>  
 
               
 
   <div style="text-align: center;padding: 3px;margin-top: 0px;">
     
     <div class="tabs tabs-center" style="overflow: scroll;width: 7em;font-size: 10px;margin-left: -1px;font-family: poketube flex !important;font-weight: 800 !important;font-stretch: ultra-expanded;">

       <% if (!tab) { %>

                <a href="/channel?id=<%=ID%>" class="tab active">Videos</a>
           
<%  if (turntomins(shorts?.videos[0]?.lengthSeconds)  != "aN:aN" ) { %> 

                   <a href="/channel?id=<%=ID%>&tab=shorts" class="tab">Shorts</a>
  <% } %>
    
              <%  if (Array.isArray(c.comments)) { %> 

  <%  if (c.comments.length != "0") { %> 

     <a  href="/channel?id=<%=ID%>&tab=community"  class="tab">Posts</a>
                                                                         <% } %>
                                                                         <% } %>
                                                                                                                                                                     <%  if (Array?.isArray(shorts?.videos)) { %> 

      <% } %>                             
                                                                <% } %>
                                                                             <% if (tab ==="about") { %>
                                                                          
                <a href="/channel?id=<%=ID%>" class="tab">Videos</a>

<%  if (Array?.isArray(shorts?.videos)) { %> 
  
<%  if (turntomins(shorts?.videos[0]?.lengthSeconds)  != "aN:aN" ) { %> 

                   <a href="/channel?id=<%=ID%>&tab=shorts" class="tab">Shorts</a>
  <% } %>
      <% } %>
                <a href="/channel?id=<%=ID%>&tab=community"  class="tab">Community</a>
                                                                <% } %>
                                                                 
                                                                     <% if (tab ==="community") { %>

                <a href="/channel?id=<%=ID%>" class="tab">Videos</a>
                                                                                                                                                                                              <%  if (Array?.isArray(shorts?.videos)) { %> 
  
<%  if (turntomins(shorts?.videos[0]?.lengthSeconds)  != "aN:aN" ) { %> 

                   <a href="/channel?id=<%=ID%>&tab=shorts" class="tab">Shorts</a>
  <% } %>
      <% } %>
                <a href="/channel?id=<%=ID%>&tab=community"  class="tab active">Posts</a>
                                                                <% } %>
        <% if (tab ==="shorts") { %>

                <a href="/channel?id=<%=ID%>" class="tab">Videos</a>
                                                                                                                                                                                              <%  if (Array?.isArray(shorts?.videos)) { %> 
  
<%  if (turntomins(shorts?.videos[0]?.lengthSeconds)  != "aN:aN" ) { %> 

                   <a href="/channel?id=<%=ID%>&tab=shorts" class="tab active">Shorts</a>
  <% } %>
      <% } %>
                <a href="/channel?id=<%=ID%>&tab=community"  class="tab">Posts</a>
                                                                <% } %>
            </div>
     
     

        </a>

 </a>
</div>
 
   
   </div>
   
                                              <% } %>

        
		</div>
                
	</div> 
                               
                                           <% } %>
   
     
     <hr style="clear: both;display: block;border: none;border-bottom: 0.5px solid #2f2f2f;margin: 0 0;/*! width: 4.5em; */height: 0;">   
                                             <% if (!tab) { %>  
                                               
                             

             <div align="center">
    <% if (!isMobile) { %>  
            <div class="tags rec">
                <% if (sort == "newest") { %>  

              <a class="tag" style="background:var(--chip-background-hover)">
                Recently Uploaded
              </a>
                    
                  
                                <a href="/channel?id=<%=ID%>&sort_by=popular" style="color:#fff;text-decoration:none;
" class="tag c">
           Popular
              </a>
                  
                       <a href="/channel?id=<%=ID%>&sort_by=oldest" style="color:#fff;text-decoration:none;
" class="tag c">
           Oldest
              </a>
                  
                   <% } %>
                          <% if (sort) { %>  

                          <% if (sort === "popular") { %>  

            <a  href="/channel?id=<%=ID%>" style="color:#fff;text-decoration:none;
" class="tag c" >
                Recently Uploaded
              </a>
                  
                                <a  style="background:var(--chip-background-hover)" class="tag">
           Popular
              </a>
                            
                                                   <a href="/channel?id=<%=ID%>&sort_by=oldest" style="color:#fff;text-decoration:none;
" class="tag c">
           Oldest
              </a>
                   <% } %>
                     
                     
                          <% if (sort === "oldest") { %>  

            <a  href="/channel?id=<%=ID%>" style="color:#fff;text-decoration:none;
" class="tag c" >
                Recently Uploaded
              </a>
                  
                                <a    href="/channel?id=<%=ID%>&sort_by=popular" style="color:#fff;text-decoration:none;
" class="tag">
           Popular
              </a>
                            
                                                   <a   style="background:var(--chip-background-hover)
" class="tag c">
           Oldest
              </a>
                   <% } %>
                     
                   <% } %>

              

                                       </div>
 <% } %>

    <% if (isMobile) { %>  
   
      <details style="color:#fff;background:#0f0f0f">
                        <summary style="color:#fff;text-align: left;margin-left: 5px;">Sort by</summary>

            <div class="tags rec" style="background:#0f0f0f;margin-left: auto;">
                <% if (sort == "newest") { %>  

              <a class="tag" style="background:var(--chip-background-hover)">
                Recently Uploaded
              </a>
                    
                  
                                <a href="/channel?id=<%=ID%>&sort_by=popular" style="color:#fff;text-decoration:none;
" class="tag c">
           Popular
              </a>
                  
                       <a href="/channel?id=<%=ID%>&sort_by=oldest" style="color:#fff;text-decoration:none;
" class="tag c">
           Oldest
              </a>
                  
                   <% } %>
                          <% if (sort) { %>  

                          <% if (sort === "popular") { %>  

            <a  href="/channel?id=<%=ID%>" style="color:#fff;text-decoration:none;
" class="tag c" >
                Recently Uploaded
              </a>
                  
                                <a  style="background:var(--chip-background-hover)" class="tag">
           Popular
              </a>
                            
                                                   <a href="/channel?id=<%=ID%>&sort_by=oldest" style="color:#fff;text-decoration:none;
" class="tag c">
           Oldest
              </a>
                   <% } %>
                     
                     
                          <% if (sort === "oldest") { %>  

            <a  href="/channel?id=<%=ID%>" style="color:#fff;text-decoration:none;
" class="tag c" >
                Recently Uploaded
              </a>
                  
                                <a    href="/channel?id=<%=ID%>&sort_by=popular" style="color:#fff;text-decoration:none;
" class="tag">
           Popular
              </a>
                            
                                                   <a   style="background:var(--chip-background-hover)
" class="tag c">
           Oldest
              </a>
                   <% } %>
                     
                   <% } %>

              
                                                          </details>

                                       </div>
 <% } %>

 
    	<div class="video-grid" >
             <%  if (!Array.isArray( tj?.videos)) { %> 
<p> No content on this channel :c <%  if (Array?.isArray( shorts.videos)) { %> try <a href="/channel?id=<%=ID%>&tab=shorts"> Try Looking at shorts maybe lol :p</a> </p>                              
  <% } %>
    <% } %>          
   
             <%  if (Array.isArray( tj?.videos)) { %> 

   <% tj.videos.forEach (x =>  { %>
			<a href="/watch?v=<%- x.videoId %>" class="video">
				<div class="thumbnail" style="background-image: url('<%- media_proxy_url %>/proxy?url=https://i.ytimg.com/vi/<%= x.videoId %>/hqdefault.jpg?sqp=-oaymwEbCKgBEF5IVfKriqkDDggBFQAAiEIYAXABwAEG&rs=AOn4CLBy_x4UUHLNDZtJtH0PXeQGoRFTgw');border-radius: 10px;"><span class="video-length"><%- turntomins(x.lengthSeconds) %></span></div>
				<div class="info">
					<span class="title max-lines-2" style="font-family:PokeTube flex,sans-serif;font-weight: 1000;font-stretch: ultra-expanded;"><%- x.title %></span>
			 
            </div>
 			</a>	
 		 	               <% }) %>   
 <% } %>
           
  


         
 
                       
                       </div>
                  
            <% if (tj?.continuation) { %>
	<div class="pagination-buttons" style="border-top: none;justify-content: center">
    <a style="color:#fff" href="/channel?id=<%=ID%>&continuation=<%=tj.continuation%>">Next Page</a>
 	</div>
    <% if (!isMobile) { %>  

  <script> 
  window.addEventListener('scroll', function() {
    if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight) {
        var currentUrl = new URL(window.location.href);
        var params = new URLSearchParams(currentUrl.search);
        var continuationValue = '<%=tj.continuation%>';

        if (params.has('continuation')) {
            params.set('continuation', continuationValue);
        } else {
            params.append('continuation', continuationValue);
        }

        currentUrl.search = params.toString();
        window.location.href = currentUrl.toString();
    }
});
    </script>                       <% } %>

                       <% } %>

 
          <% } %>
                           <% if (tab === "shorts") { %>  
                                               
                             

             <div align="center">
    <% if (!isMobile) { %>  
       

              

                                       </div>
 <% } %>















<div class="shorts-video-grid">
  <%  if (Array?.isArray( shorts.videos)) { %> 
    <% shorts.videos.forEach (x =>  { %>
      <a href="/shorts/<%- x.videoId %>" class="shorts-video" >
        <img load="lazy" onerror="this.src=`<%- media_proxy_url %>/proxy?url=https://i.ytimg.com/vi/<%= x.videoId %>/hqdefault.jpg?sqp=-oaymwEbCKgBEF5IVfKriqkDDggBFQAAiEIYAXABwAEG&rs=AOn4CLBy_x4UUHLNDZtJtH0PXeQGoRFTgw`" src='<%- media_proxy_url %>/proxy?url=https://i.ytimg.com/vi/<%= x.videoId %>/maxresdefault.jpg?sqp=-oaymwEbCKgBEF5IVfKriqkDDggBFQAAiEIYAXABwAEG&rs=AOn4CLBy_x4UUHLNDZtJtH0PXeQGoRFTgw'>
        <span class="shorts-title"><%- x.title %></span>
      </a>
    <% }) %>   
  <% } %>
</div>

<% if (shorts?.continuation) { %>
<div class="pagination-buttons">
  <a style="color:#fff" href="/channel?id=<%=ID%>&tab=shorts&continuations=<%=shorts.continuation%>">Next Page</a>
</div>
<% } %>
  
<!-- SHORTS-VIDEO --->
<!-- SHORTS-VIDEO --->
<!-- SHORTS-VIDEO --->
<!-- SHORTS-VIDEO --->
<!-- SHORTS-VIDEO --->
<!-- SHORTS-VIDEO --->
<!-- SHORTS-VIDEO --->
<!-- SHORTS-VIDEO --->

<style nonce="IJD3y0awTwA2dd0pWOP+ZQ">
.shorts-video-grid {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  grid-gap: 24px;
  margin-top: 24px;
}
.shorts-video img {
  width: 100%;
  aspect-ratio: 9/16;
  object-fit: cover;
  border-radius: 10px;
}
.shorts-video {
  display: block;
}
</style>

<!-- SHORTS-VIDEO --->
<!-- SHORTS-VIDEO --->
<!-- SHORTS-VIDEO --->
<!-- SHORTS-VIDEO --->
<!-- SHORTS-VIDEO --->
<!-- SHORTS-VIDEO --->
<!-- SHORTS-VIDEO --->
<!-- SHORTS-VIDEO --->

<% } %>
            
              <% if (tab === "live") { %>  
                                               
                             

             <div align="center">
    <% if (isMobile) { %>  
         <div class="tags rec">
                <% if (!sort) { %>  

              <a class="tag" style="background:var(--chip-background-hover)">
                Recently Uploaded
              </a>
                  
                                <a href="/channel?id=<%=ID%>&sort_by=popular&tab=live" style="color:#fff;text-decoration:none;
" class="tag c">
           Popular
              </a>
                   <% } %>

                          <% if (sort) { %>  

            <a  href="/channel?id=<%=ID%>&tab=live" style="color:#fff;text-decoration:none;
" class="tag c" >
                Recently Uploaded
              </a>
                  
                                <a  style="background:var(--chip-background-hover)" class="tag">
           Popular
              </a>
                   <% } %>

              

                                       </div>

              

                                       </div>
 <% } %>

 
    	<div class="video-grid" >
            
   
             <%  if (Array.isArray( stream.videos)) { %> 

   <% stream.videos.forEach (x =>  { %>
			<a href="/watch?v=<%- x.videoId %>" class="video">
				<div class="thumbnail" style="background-image: url('<%- media_proxy_url %>/proxy?url=https://i.ytimg.com/vi/<%= x.videoId %>/hqdefault.jpg?sqp=-oaymwEbCKgBEF5IVfKriqkDDggBFQAAiEIYAXABwAEG&rs=AOn4CLBy_x4UUHLNDZtJtH0PXeQGoRFTgw');border-radius: 10px;"><span class="video-length"><%- turntomins(x.lengthSeconds) %></span></div>
				<div class="info">
					<span class="title max-lines-2" style="font-family:PokeTube flex,sans-serif;font-weight: 1000;font-stretch: ultra-expanded;"><%- x.title %></span>
			 
            </div>
 			</a>	
 		 	               <% }) %>   
 <% } %>

                                             
 
         
 
                       
                       </div>
                  
            <% if (stream?.continuation) { %>
	<div class="pagination-buttons" style="border-top: none;justify-content: center">
    <a style="color:#fff" href="/channel?id=<%=ID%>&tab=live&continuationl=<%=stream?.continuation%>">Next Page</a>
 	</div>
                           
                       <% } %>

 
          <% } %>
            
               <% if (tab === "playlist") { %>  
                                               
                             

             <div align="center">
   
 
    	<div class="video-grid" >
            
   
             <%  if (Array.isArray(playlist.playlists)) { %> 

   <% playlist.playlists.forEach (x =>  { %>
			<a href="/playlist?list=<%- x.playlistId %>" class="video">
				<div class="thumbnail" style="background-image: url('<%- media_proxy_url %>/proxy?url=<%- x.playlistThumbnail %>?sqp=-oaymwEbCKgBEF5IVfKriqkDDggBFQAAiEIYAXABwAEG&rs=AOn4CLBy_x4UUHLNDZtJtH0PXeQGoRFTgw');border-radius: 10px;"><span class="video-length"><%- x.videoCount %> Videos </span></div>
				<div class="info">
					<span class="title max-lines-2" style="font-family:PokeTube flex,sans-serif;font-weight: 1000;font-stretch: ultra-expanded;"><%- x.title %></span>
			 
            </div>
 			</a>	
 		 	               <% }) %>   
 <% } %>

                                             
 
         
 
                       
                       </div>
          

 
          <% } %>
            
                       
    <% if (tab === "community") { %>
    <%  if (Array?.isArray( c?.comments)) { %> 
 <div style="max-width: 800px;margin: 20px auto;padding: 20px;border-radius: 8px;background: linear-gradient( 135deg, #f97794 10%, #623aa2 100%, #8e6f7e 100% );box-shadow: 0 2px 4px rgba(0,0,0,0.1);margin-bottom: -1em;">
<h1 style="color: #fff;font-family: 'PokeTube Flex';text-align: center !important;font-stretch: ultra-expanded;font-weight: 1000;">Welcoem to posts!!</h1>
<p>in the future - u will be able to do some more stuff here,,,!! like pat catgirl- i mean um yeah... for now u can only see others's posts :c  </p>
    </div>
<div class="community">
  
   <% c?.comments?.forEach (x =>  { %>
     <div class="community-content">
    

                     <h5 style="display: flex;margin-top: -1em;padding-top: 10px;margin-bottom:10px"><div class="thumb">
				<a href="/channel?id=<%- x.authorId	%>" class="avatar" style="width: 40px;height: 40px;">
					<img src="https://p.poketube.fun/<%=j.Channel?.Metadata.Avatars.Thumbnail.$t%>">
				</a>
                       
            </div>
                                                           

                <p class="comments-author">
                  				<a href="" style="color: var(--text-color);text-decoration: none;"><%=j.Channel?.Metadata.Name%> 

                                                                                                  </a>
                            
                            <span>
                                <br>  Posted <%- x.publishedText %> <span>   
        </span>   

                            </span>

                  
 
                                             

                  
                </p>

              </h5>
             <p>
                      <%- x.contentHtml %>

                            </p>

             <% if (x.attachment) { %>
                      <% if (x.attachment.type === "video") { %>
 
 		<div class="video-player-container">

<video class="player"  style="border-radius: 16px;
"  controls   
       
       poster="<%- media_proxy_url %>/proxy?url=https://i.ytimg.com/vi/<%=x.attachment.videoId%>/maxresdefault.jpg?v=607ddcd4">
        
                           
                                                <source src="https://tube.kuylar.dev/proxy/media/<%=x.attachment.videoId%>/22" type="video/mp4; codecs=&quot;avc1.64001F, mp4a.40.2&quot;" label="hd720" selected="false">

                                                                           
                                                                             </video>
                                                                                   </div>

                        
               <% } %>
                                       <% if (x.attachment.type === "image") { %>
 
                                                                                 <% if (x.attachment.imageThumbnails[4] ) { %>
 
                                                                                   <img style="  width: 100%;
  border-radius: 26px;" src="<%- media_proxy_url %>/proxy?url=<%- x.attachment.imageThumbnails[4].url%>">
               <% } %>               <% } %>

                 
               <% } %>

<p>   <i class="fa-light fa-thumbs-up"></i> <%- convert(x.likeCount) %>  - <i class="fa-light fa-reply"></i> <%- convert(x.replyCount) %> </p>
              </div>

                  
    <% }) %>   

                                                               <% } %>                                                               <% } %>


                                                                 
 <% if (tab === "about") { %>
   
   <% if (!isMobile) { %>  
       

               
<div style="display: flex;flex-direction: row;">
  
 
  <div style="background: #333;display: flex;flex-direction: column;margin-top: 1em;margin-left: 1em;border-radius: 1em;margin-bottom: 1em;box-sizing: border-box;width: 100%;margin-right: 20px;min-height: 19em;">   
     <h3 style="color:#fff;font-family:PokeTube flex,sans-serif;font-weight:1000;font-stretch:ultra-expanded:padding: 0px;margin: 0;margin-top: 7px;margin-left: 10px;">About</h3>

     <% if (cinv.descriptionHtml) { %>

 <p style="color:#fff;margin-left: 10px;font-weight: bold;"><%-cinv.descriptionHtml%></p>
  <% } %>
         </div>

       <% } %>

    <% if (isMobile) { %>  
       

              

    <div style="text-align: left;">   
     <h3 style="color:#fff;font-family:Ginto Nord,sans-serif;font-weight:900;padding: 0px;margin: 0;margin-top: 7px;margin-left: 10px;">About</h3>

     <% if (cinv.descriptionHtml) { %>

 <p style="color:#fff;margin-left: 10px;font-weight: bold;"><%-cinv.descriptionHtml%></p>
  <% } %>
       <% } %>
                       </div>
   <% } %>
           <% if (!isMobile) { %>  

    <div onclick="closePopup()" id="popup-container">
        <div id="close-btn" onclick="closePopup()">X</div>
   <div class="video-title" style=";font-stretch: extra-expanded;margin-top: 10px;margin-bottom: -10px;padding: 10px;border-top-left-radius: 11px;border-top-right-radius: 11px;font-family: &quot;poketube flex&quot; , sans-serif;font-weight: 850;text-align: left;">About</div>
                            <% if (cinv.descriptionHtml) { %>  

<p style="color:#fff;margin-left: 10px;font-weight: bold;text-align: left;"><%-cinv.descriptionHtml%></p>
       <%  if (Array.isArray(cinv?.tags)) { %> 
<div class="video-title" style=";font-stretch: extra-expanded;margin-top: 10px;margin-bottom: -10px;padding: 10px;border-top-left-radius: 11px;border-top-right-radius: 11px;font-family: &quot;poketube flex&quot; , sans-serif;font-weight: 1000;text-align: left;">Tags</div>	    
    <div class="tags-channel" style="padding: 10px;background: #272727;margin-top: 10px;border-radius: 11px;">
	 <br>
	 <% cinv.tags.forEach(x => { %>
	 <div class="tag-channel">
	   <a href="/hashtag/<%=x %>" style="color:var(--text-color)">
	   <%=x %>
	     </a>
	   </div>         <% }) %>  
      <% } %>
     </div>
  
      <% } %>
           

      <% } %>
                                                                                           <% } %>

<script src="/css/custom-css.js?v=884"> </script>
  <script>
      // @license magnet:?xt=urn:btih:1f739d935676111cfff4b4693e3816e664797050&dn=gpl-3.0.txt GPL-3.0-or-later  

var anchor = document.getElementById("sub");

// Check if there's a user ID in localStorage
var userID = localStorage.getItem("UserID");

if (userID) {
    // If user ID exists in localStorage, set the href attribute
    anchor.href = `/api/set-channel-subs?ID=${userID}&channelName=<%=j.Channel?.Metadata.Name%>&avatar=https://p.poketube.fun/<%- j.Channel?.Metadata.Avatars.Thumbnail?.$t %>&channelID=<%= ID %>`;
} else {
    // If user ID doesn't exist in localStorage, you can handle it as needed
     anchor.href = "/account-create"
     // Optionally, you can set a default href or display an error message.
}
    
document.getElementById('search').addEventListener('keyup', function () {
  var value = this.value.toLowerCase();
  var videos = document.querySelectorAll('.video, .shorts-video'); 
      
  videos.forEach(function (video) {
    var text = video.textContent.toLowerCase();
    if (text.indexOf(value) > -1) {
      video.style.visibility = 'visible';
      video.style.display = 'grid';
    } else {
      video.style.visibility = 'hidden';
      video.style.display = 'none';
    }
  });
});
    
    document.getElementById('search').addEventListener('keyup', function () {
  var value = this.value.toLowerCase();
  var videos = document.querySelectorAll('.community-content'); 
      
  videos.forEach(function (video) {
    var text = video.textContent.toLowerCase();
    if (text.indexOf(value) > -1) {
      video.style.visibility = 'visible';
      video.style.display = 'block';
    } else {
      video.style.visibility = 'hidden';
      video.style.display = 'none';
    }
  });
});
        var isPopupOpen = false;

        function togglePopup() {
            if (isPopupOpen) {
                closePopup();
            } else {
                document.getElementById('popup-container').style.display = 'block';
                document.body.style.overflow = 'hidden';
            }
            isPopupOpen = !isPopupOpen;
        }

        function closePopup() {
            document.getElementById('popup-container').style.display = 'none';
            document.body.style.overflow = 'auto';
            isPopupOpen = false;
        }

        document.getElementById('popup-trigger').addEventListener('click', function (event) {
            event.preventDefault();
            togglePopup();
        }); 

       document.addEventListener('keydown', function (event) {
        if (event.key === 'Escape' && isPopupOpen) {
            closePopup();
        }
    });
// @license-end

     </script>
               </body>
 
   
 
</html>

<% } catch (error) { %>
 <% } %>
 