<head>
    <title><%=j.Channel.Metadata.Name%> - PokeTube</title>
   <link href=https://watch.poketalebot.com/css/yt-ukraine.svg rel=icon>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Sigmar+One&amp;display=swap" rel="stylesheet"> 
    <meta content=website property=og:type>
    <meta content="<%=j.Channel.Metadata.Name%> - PokeTube" property=og:title>
    <meta content="<%-desc.replace(/\n/g, " ")%>" property=twitter:description>
    <meta content="<%=j.Channel.Metadata.Banners.Thumbnail[2].$t%>" property=og:image>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <meta content=summary_large_image name=twitter:card>
    <meta content=@PoketaleBot name=twitter:site>
    <meta content=@PoketaleBot name=twitter:creator>
     <link href=https://cdn.poketalebot.com/404/v2.css rel=stylesheet>
    <link href=/css/app.main.css rel=stylesheet>
      <link href=/css/search.main.css?v=6 rel=stylesheet>
      <style>  :root {
    --text-primary: #fff;
    --text-secondary: #fff;
    --text-link: #3ea6ff;

    --app-background: #000;
    --context-menu-background: #000;
    --border-color: #444;
    --item-hover-background: #000;
    --item-active-background: #000;

    --top-bar-background: #000;
    --guide-background: #000;

    --thumbnail-background: #000;

    --channel-info-background: #000;
    --channel-contents-background: #000;
}</style>
 </head>
<body>
     <center> 
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@900&family=Sigmar+One&display=swap" rel=stylesheet>
    <link href=https://pro.fontawesome.com/releases/v5.15.3/css/all.css rel=stylesheet>
    <center>
        <nav>
            <div class=left><a class="class" href="https://stopwarukraine.com/" style=font-family:Inter,sans-serif;color:#fff><span><i class="fa-youtube fab" style=color:#fff></i></span><span style="text-decoration:inherit;background:linear-gradient(to right, rgba(255,215,0,1) 50%, rgba(0,87,184,1) 50%);-webkit-text-fill-color:transparent;-webkit-background-clip:text;">PokeTube</span> 🇺🇦 </a></div>
            <div class=middle>
                <form action=/api/search><input class=search-bar id=fname name=query style=color:#fff;font-family:Roboto,sans-serif> <button class="btn btn-success" type=submit><i class="fas fa-search"></i></button></form>
            </div>
 
        </nav> 
       
        <section class=youtube-video>
     <div class="app">
<div class="channel-page">
 
<div class="channel-page">
 <div class="channel-info-container">
          <img src="<%=j.Channel.Metadata.Banners.Thumbnail[2].$t%>">
		<div class="channel-info" >
			<a href="/channel?id=<%=ID%>" class="avatar">
				<img src="<%=j.Channel.Metadata.Avatars.Thumbnail.$t%>" alt="Channel Avatar">
			</a>
			<div class="name">
				<p style="color:#fff"><%=j.Channel.Metadata.Name%></p>
 			</div>
			<button class="subscribe-button"><%=subs%>
          </button>
		</div>
	</div><hr>
   
<h3 style="color:#fff">About this channel</h3>
  <br><br> <hr>
	<p style="color:#fff"><%-desc.replace(/\n/g, " <br> ")%></p>
	<br><br>
	<h3  style="color:#fff">Uploads</h3>
            <div align="center">

   	<div class="video-grid">
   <% tj.Channel.Contents.ItemSection.ItemSection.Video.forEach(x =>  { %>
			<a href="/watch?v=<%- x.id %>" class="video">
				<div class="thumbnail" style="background-image: url('https://i.ytimg.com/vi/<%- x.id %>/hqdefault.jpg?sqp=-oaymwEjCNACELwBSFryq4qpAxUIARUAAAAAGAElAADIQj0AgKJDeAE=&amp;rs=AOn4CLAWzSgJiToCNsG9Rwj3y-p3XN9AxQ')"><span class="video-length"><%- x.duration %></span></div>
				<div class="info">
					<span class="title max-lines-2"><%- x.Title %></span>
					<div>
						<div>
							<span><%- x.views %> views</span>
							<span><%- x.uploadedAt %></span>
						</div>
					</div>
            </div>
 			</a>	
 		 	               <% }) %>   
                       </div>

	</div>
              </body>
 
   
 
</html>
