 <!--
    This Source Code Form is subject to the terms of the GNU General Public License:

    Copyright (C) 2021-2023 POKETUBE (https://codeberg.org/Ashley/poketube)
    
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see https://www.gnu.org/licenses/.
--><!DOCTYPE html><html>
<head>
    <title>PokeTube | Download Video </title>
    <meta content="<%=color%>" name="theme-color">
    <link href=/css/yt-ukraine.svg?v=6 rel=icon>
    <link rel="manifest" href="/manifest.json">
    <meta content=website property=og:type>
      <meta name="viewport" content="width=device-1200px, initial-scale=1.0, shrink-to-fit=yes, viewport-fit=cover">

    <meta content="PokeTube - Video Downloader" property=og:title>
    <meta content="You wouldn't download a car... Right? welp i would - Download this video on PokeTube! for the price of 0$!" property=twitter:description>
    <meta content="https://i.ytimg.com/vi/<%=v%>/maxresdefault.jpg" property=og:image>
     <meta content=summary_large_image name=twitter:card>
    <meta content=@PoketaleBot name=twitter:site>
    <meta content=@PoketaleBot name=twitter:creator>
    <link href=/css/app-cdn.min.css rel=stylesheet>
    <link href=/css/app.main.css?v=44600 rel=stylesheet>
    <link href="https://fonts.poketube.fun/css/fonts.css" rel=stylesheet>
    <link href="/css/watch.main.css?v=56" rel=stylesheet>
    <link href=https://p.poketube.fun/https://site-assets.fontawesome.com/releases/v6.1.1/css/all.css rel=stylesheet>
<style>
   a.class:hover {
    font-weight:bold
}
  summary{
    color:gray;
}
summary:hove
    color:white;
}

</style>
  <!-- WIGGLE WIGGLE WIGGLE -->
  <style>
    body{
        overflow-x: hidden; /* Hide horizontal scrollbar */
        color:#111111;
    }
    
   .animated {
            -webkit-animation-duration: 10s; 
            animation-duration: 10s; 
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both; 
            animation-iteration-count: infinite;
            -moz-animation-iteration-count: infinite;
            -webkit-animation-iteration-count: infinite;
            -o-animation-iteration-count: infinite;
         }
         
         @-webkit-keyframes wiggle { 
            0% { -webkit-transform: skewX(9deg); }
            10% { -webkit-transform: skewX(-8deg); }
            20% { -webkit-transform: skewX(7deg); }
            30% { -webkit-transform: skewX(-6deg); }
            40% { -webkit-transform: skewX(5deg); } 
            50% { -webkit-transform: skewX(-4deg); } 
            60% { -webkit-transform: skewX(3deg); }
            70% { -webkit-transform: skewX(-2deg); } 
            80% { -webkit-transform: skewX(1deg); } 
            90% { -webkit-transform: skewX(0deg); }
            100% { -webkit-transform: skewX(0deg); } 
         }
         
         @keyframes wiggle { 
            0% { transform: skewX(9deg); } 
            10% { transform: skewX(-8deg); } 
            20% { transform: skewX(7deg); } 
            30% { transform: skewX(-6deg); } 
            40% { transform: skewX(5deg); } 
            50% { transform: skewX(-4deg); } 
            60% { transform: skewX(3deg); } 
            70% { transform: skewX(-2deg); } 
            80% { transform: skewX(1deg); } 
            90% { transform: skewX(0deg); } 
            100% { transform: skewX(0deg); } 
         }
         
         .wiggle { 
            -webkit-animation-name: wiggle;
            animation-name: wiggle; 
            -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in; 
         }
         
         .animated.wiggle { 
            -webkit-animation-duration: 0.75s; 
            animation-duration: 0.75s;
         }
    
    :root {
    --text-primary: #fff;
    --text-secondary: #fff;
    --text-link: #3ea6ff;

    --app-background: #111111;
    --context-menu-background: #333;
    --border-color: #444;
    --item-hover-background: #373737;
    --item-active-background: #383838;

    --top-bar-background: #202020;
    --guide-background: #212121;

    --thumbnail-background: #252525;

    --channel-info-background: #181818;
    --channel-contents-background: #0f0f0f;
}

.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  opacity: 1;
  transition: opacity 0.6s;
  margin-bottom: 15px;
}

.alert.success {background-color: #04AA6D;}
.alert.info {background-color: #2196F3;}
.alert.warning {background-color: #ff9800;}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}
a{
border-radius:13px
}
    
.video-list > p {
font-family:Ubuntu
}
.closebtn:hover {
  color: black;
}
.download-format >  a:hover{
    border:solid;
  }
    .download-format:{
      width:65px;
    }
    .download-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 32px;
  max-width: 27em;
  margin-left: auto;
  margin-right: auto;
  background: #333;
 height: 56em;
  border-radius: 10px;
  margin-top: 2em;
}
  </style>
 </head>
 
<body>
   <% if (!isMobile) { %>

       <div class="app" style="background:linear-gradient(135deg, #820622 10%, #4e2e82 100%, #725965 100%);height: 67em;">      
	   <nav>
       <div class=left><a class="class" href="/143" style=font-family:Inter,sans-serif;color:#fff><img style="transform: scale(1.3);padding-left:0.9em;width: 8.5em;display: block;margin-left: auto;margin-right: auto;" src="/css/logo.svg?v=5">  </a>                                                                                               </div>               
            <div class="middle">
        <form action="/search"><input class="search-bar" autocomplete="on" id="fname" name="query" style="color:var(--text-color);font-family:poketube flex,sans-serif;border-radius: 2em;font-weight: 850;font-stretch: extra-expanded;" data-ddg-inputtype="identities.firstName">
<button class="btn btn-success" type="submit" style="transform: translate(21em, -1.25em);"><i class="fa-light fa-search"></i></button>             
         </form>
             
           <img src="https://search-metrics.poketube.fun/t/rep.gif"  style="border:0;width: 0;visibility: hidden;"> 

      </div>
            <div class=right><a href="/privacy"><i class="fa-light fa-shield"></i></a><a href="/video/upload?from="><i class="fa-light fa-video"></i></a> <a href="https://codeberg.org/Ashley/poketube/"><i class="fab fa-git-alt"></i></a><a href="https://codeberg.org/Ashley/poketube/issues"><i class="fa-light fa-bug"></i></a></a></div>
        </nav>
                                                                                          <% } %>          

	   
 
      
	<div class="video-list download-list playlist-video-list">
    <div>
            <h3 style="font-family:'PokeTube Flex';font-weight:1000;white-space:yes;font-stretch: ultra-expanded;"> DOWNLOAD VIDEO / MUSIC</h3>
      <span>ID: <%=v%> -  <a href="/watch?v=<%=v%>"> Watch the video</a> </span>
<hr>

       <div>
       <% if (!isMobile) { %>
  
         <img src="/vi/<%=v%>/maxresdefault.jpg" style="height: 15em;border-radius: 1em;box-shadow: 0 0 4.4em <%=color%>;">
                                                                                             <% } %>          
       <% if (isMobile) { %>

         <img src="/vi/<%=v%>/maxresdefault.jpg" style="height: 11.9em;border-radius: 1em;box-shadow: 0 0 4.4em <%=color%>;">
                                                                                                     <% } %>          

         <div>
         

          </div>
        </div>
     </div>
  		<div class="format-list">
        <p style="text-align: center;margin-top: 0;margin-bottom: 10px;">
          select a format to download :3
        </p>
      	 <h2>Muxed formats</h2>
       
           <% if (!isMobile) { %>

      <div class="download-format" style="background: black;margin: 6px;width: 25em;border-radius: 14px;/*! text-align: center; */"><div style="font-family:&quot;PokeTube flex&quot;;font-stretch: ultra-expanded;font-weight: 700;"> 
                                                                                                 <% } %>          
      <% if (isMobile) { %>

      <div class="download-format" style="background: black;margin: 6px;border-radius: 14px;/*! text-align: center; */"><div style="font-family:&quot;PokeTube flex&quot;;font-stretch: ultra-expanded;font-weight: 700;"> 
                                                                                                 <% } %> 
        3GPP 
          </div>
					<a style="color:#fff;font-family:Ubuntu" href="/api/video/download?v=<%=v%>&q=17">
            <i class="fa-light fa-download"></i>
						Download 
					</a>
				<br>
				</div>
      
           <div class="download-format" style="background: black;margin: 6px;border-radius: 14px;/*! text-align: center; */"><div style="font-family:&quot;PokeTube flex&quot;;font-stretch: ultra-expanded;font-weight: 700;"> 
            MP4 (480p)
          </div>
					<a style="color:#fff;font-family:Ubuntu" href="/api/video/download?v=<%=v%>&q=18">
            <i class="fa-light fa-download"></i>
						Download 
					</a>
				<br>
				</div>
      
      
				
        
              <!-- ignore this -->
        <p style="visibility: hidden;">
 we dont see the videos that you are downloading :P
          </p>
		</div>
	 
    <div class="format-list" style="margin-top: -2em;">
      
			<h2>Audio-Only formats</h2>
      
        <div class="download-format" style="background: black;margin: 6px;border-radius: 14px;/*! text-align: center; */">					          <div style="font-family:&quot;PokeTube flex&quot;;font-stretch: ultra-expanded;font-weight: 700;">  webm (low) 
           </div>
			  	<a style="color:#fff;font-family:Ubuntu" href="/api/video/download?v=<%=v%>&q=249&f=webm">
            <i class="fa-light fa-download"></i>
						Download 
					</a>
				<br>
				</div>
      
        <div class="download-format" style="background: black;margin: 6px;border-radius: 14px;/*! text-align: center; */">					           <div style="font-family:&quot;PokeTube flex&quot;;font-stretch: ultra-expanded;font-weight: 700;">  webm (HIGH) 
           </div>
			  	<a style="color:#fff;font-family:Ubuntu" href="/api/video/download?v=<%=v%>&q=251&f=webm">
            <i class="fa-light fa-download"></i>
						Download 
					</a>
				<br>
				</div>
      
      <!-- ignore this -->
        <p style="visibility: hidden;">
 gfhefdhgrdfhdfshfgddfsfdgdfsds gfhefdhgrdfhdfshfgddfsfdgdfsds
      </p>
 
	</div>
</div>
 
<img src="https://t.poketube.fun/t/rep.gif?download_video=<%=btoa(v)%>" style="width: 0;visibility: hidden;" id="download_page">

</div>
      
<script src="/css/custom-css.js?v=54"> </script><script src="/css/data-mobile.js?v=549"> </script>

 
</body>
</html>
