  <!--
    This Source Code Form is subject to the terms of the GNU General Public License:

    Copyright (C) 2021-2022 POKETUBE (https://codeberg.org/Ashley/poketube)
    
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see https://www.gnu.org/licenses/.
-->
<!DOCTYPE html>
        
 <html class="poketube_desktop">
<head>
  <% if (e === false) { %> <!-- if ?e=false,dont show up the meta tags  -->
 <% } %>    
  <% if (!e) { %>
<meta content="<%=video.Title%>" name=title>
<meta content="<%=color%>" name="theme-color">
<meta content="<%=video.Channel.Name%>" name=twitter:author>
<meta content=@youtube name=twitter:site>
<meta content="https://poketube.fun/watch?v=<%=video.id%>" name=twitter:url>
<meta content="<%=video.Title%> - PokeTube" name=twitter:title>
<meta content="Listen to this Song by <%=info.artist%> On PokeTube Music!" property=twitter:description>
<meta content="<%=info.artwork%>" property=og:image>
<meta content=summary_large_image name=twitter:card>
<link href="https://poketube.fun/watch?v=<%=video.id%>" itemprop=url>
<link href="http://www.youtube.com/channel/<%=video.Channel.id%>" itemprop=url>
 <% } %> <!-- close the } -->
<link href=/css/yt-ukraine.svg?v=6 rel=icon>
<title> <%=info.artist%> - <%=info.title%></title>
<link href=/css/app-cdn.min.css rel=stylesheet>
<link href=/css/app.main.css?v=44600 rel=stylesheet>
  <link href="https://fonts.poketube.fun/css/fonts.css" rel=stylesheet>
<link href="/css/watch.main.css?v=56" rel=stylesheet>
  <link href="/css/music.css?v=56" rel=stylesheet>
<style>
  .img {
    box-shadow: 0px 0 6.4em <%=color%>;
  }
  .lyrics {
  margin-top: -26em;
  height: 25em;
  max-height: 22em;
  overflow: auto;
  margin-left: 54em;
}
  </style>
 <link href=https://site-assets.fontawesome.com/releases/v6.1.1/css/all.css rel=stylesheet>
   </head>
    

  <body>
     
     <nav>
      <div class="left"><a class="class" href="/143" style=font-family:Inter,sans-serif;color:#fff> <img style="transform: scale(1.3);padding-left:0.9em;width: 8.5em;display: block;margin-left: auto;margin-right: auto;" src="/css/music.svg?v=5">         </a>             </div>                                    
      <div class="middle">
        <form action=/search><input class=search-bar autocomplete="on" id=fname name=query style="color:#fff;font-family:Inter,sans-serif;border-radius: 8px;"> <button class="btn btn-success" type=submit><i class="fa-light fa-search"></i></button></form>
      </div>
      <div class="right">
               <a ><i class="fa-light fa-shield" style="visibility: collapse;margin-right: 1.5em;"></i></a>

        <a href="/video/upload?from=">
          <i style="display: block;margin-left: auto;margin-right: auto;" class="fa-light fa-video"></i>
        </a>
        <a href="/download?v=<%=video.id%>">
          <i style="display: block;margin-left: auto;margin-right: auto;" class="fa-light fa-download"></i>
        </a>    
                

      </div>
    </nav>
       
   
     <div class="align">
       <div style="display:flex;align-items:center;flex-direction: column;">
         
      <img class="img" src="https://p.poketube.fun/<%=info.artwork%>"/>
     <div class="video-title center" style="font-family:Poketube flex;font-weight:900;white-space:yes;text-align: center;font-stretch: extra-expanded">
            <%=info.title%>    <i title="hq audio" class="fa-light fa-waveform-lines"></i> </div>
              <div class="video-title center" style="font-family:Inter;font-weight:900;white-space:yes;text-align: center;">             <%=info.artist%>
</div>     
            <div class="lyrics">
          <div class="video-title center" style="font-family:Poketube flex;font-weight:900;white-space:yes;text-align: center;font-stretch: extra-expanded">
           Lyrics </div>
                                   <%- lyrics.replace("&lt;","<").replace("&gt;", ">") || " no lyrics found "%> 
                            <br>
                                     lyrics by: musixmatch
             </div>
       </div>

  


                <div style="  position: fixed;
  bottom: 0;
  left: 0;
  margin: 67px;
  text-decoration: none;
">
                  
<div style="margin-top: 7px;">
<i class="fa-solid fa-heart"></i> <%=engagement.likes.toLocaleString()%> 
  </div>
                <div>
                     <i class="fas fa-shield-alt"></i><a style="color:#fff" href="/encryption?v=<%=video.id%>"> Encryption </a>
 
  </div>	 
   <div>
     		<a style="color:#fff" href="/download?v=<%=video.id%>">
            <i class="fa-light fa-download"></i>
            Download
					</a>
   
  </div>
                </div>
 
<div style="position: fixed;bottom: 0;right: 0;margin: 67px;text-decoration: none;">
        <p style="margin:0;">
         Powered By
  </p>  
  <img src="/css/apple.svg?v=5"> 
                    </div>
      <div class="downnav">
        <audio class="player" id="<%=sha384(video.id)%>" autoplay controls src="https://p.poketube.fun/<%=url%>" poster="https://p.poketube.fun/https://i.ytimg.com/vi/<%=video.id%>/hqdefault.jpg?v=607ddcd4"><img src="https://t.poketube.fun/t/rep.gif?music=<%=btoa(video.id)%>" style="border:0;width: 0;visibility: hidden;" id="music-track">
            </audio>
         
      </div>
                <!-- MORE INFO :https://poketube.fun/privacy -->
          <!-- MORE INFO :https://poketube.fun/privacy -->
       
          <!-- if you want to change the url - please see config in server.js  -->
        
         <!-- START <%=t%> -->  
   
        <!-- SESSION -->
        <img src="<%=t%>t/rep.gif?ID=<%=btoa(Date.now())%>" style="width: 0;visibility: hidden;" id="SesionID">
        <img src="<%=t%>t/rep.gif?piwik=t" style="width: 0;visibility: hidden;" id="piwik_noip_no_personal-info_collect">
   
        <!-- VIDEO -->
        <img src="<%=t%>t/rep.gif?video_id=<%=btoa(video.id)%>" style="width: 0;visibility: hidden;" id="videoID">
        <img src="<%=t%>t/rep.gif?channel_ID=<%=btoa(video.Channel.id)%>" style="width: 0;visibility: hidden;" id="channel">
   

        <!-- END <%=t%> -->  

                  <script src="/css/custom-css.js"> </script>
  </body>
                          
 