 <!--
    This Source Code Form is subject to the terms of the GNU General Public License:

    Copyright (C) 2021-2022 POKETUBE (https://github.com/iamashley0/poketube)
    
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see https://www.gnu.org/licenses/.
-->
<!DOCTYPE html>
<head>
<title>Searching <%=q%> - PokeTube</title>
  <link href=/css/yt-ukraine.svg?v=6 rel=icon>
   <link href="https://fonts.poketube.fun/css/fonts.css" rel=stylesheet>
<link href=/css/app-cdn.min.css rel=stylesheet>
<link href=/css/app.main.css rel=stylesheet>
<link href=/css/search.main.css rel=stylesheet> 
 <link href=/css/watch.main.css rel=stylesheet>
<link rel="search" type="application/opensearchdescription+xml" title="PokeTube" href="https://poketube.fun/api/opensearch" />
<style>
   a.class:hover {
    text-decoration:underline;
    font-weight:bold
}
  summary{
    color:blue;
}
summary:hover{
    color:red;
}
  * {
    color:#fff
  }
            @font-face {
        font-family: 'Ginto Nord';
        font-weight: 800;
        src:url('https://p.poketube.fun/https://cdn.statically.io/gh/brecert/discord-quote-generator/main/Ginto-Nord-800.woff') format("woff");
      }
 
</style>    <link href=https://p.poketube.fun/https://site-assets.fontawesome.com/releases/v6.1.1/css/all.css rel=stylesheet>

  <style>
    
    nav {
      background:none
    }
    
  nav .right {
 display: flex;
border-radius: 5px;
justify-content: normal;
padding-left: 0px;
align-items: center;
margin-left: 10px;
}
    
    nav .left {
    display: flex;
justify-content: flex-start;
align-items: center;
border-radius: 5px;
 padding-left: 0px;
margin-right: 40px;
    }
    
    nav .middle {
      display: flex;
 justify-content: center;
align-items: center;
border-radius: 5px;
    }
       
   .app{
     background-image:url("/css/head.svg");
    background-size: cover;
  background-repeat: no-repeat;
   }
      .shake  {
  animation: linear infinite alternate;
  animation-name: DOTHESHAKE;
  animation-duration: 1.5s;
}

@-webkit-keyframes DOTHESHAKE {
    0% {
      left: 0;
      transform: translateX(0);
    }
    100% {
      left: 900%;
      transform: translateX(-90%);
    }
}
         
   /* nice classname am i rigth */
   .discover-some-bitches{
     text-align: center;
     width: 673px;
     margin: auto;
   }
  </style>
 </head>

  <body>
     <center>
  
 
        <div class="app">
   
    <nav>
<div class="left" style="padding-left: 9px;">

     <% if (q == "do the harlem shake") { %>  
              <a class="shake" href="/143" style=font-family:Inter,sans-serif;color:#fff>  <img style="transform: scale(1.3);width:8.5em;display: block;margin-left: auto;margin-right: auto;" src="/css/logo.svg?v=5"></a>
               <audio class="player" autoplay loop controls src="https://p.poketube.fun/https://tube.kuylar.dev/proxy/media/8vJiSSAMNWw/18?e=ca0ac04022e782540e1f2fe4d6c2994949f33184ccc07568b4b1d7c93dfebd28119cb7b9e8b5db12039ba553ed861736ca0ac04022e782540e1f2fe4d6c2994949f33184ccc07568b4b1d7c93dfebd28119cb7b9e8b5db12039ba553ed861736Piwikd74c7f459daf669799074a22bcf7d79bb66e03dbd9899a2089e0bee8ed383f0c3b928c4477a42208cbd69a77549e3451
" style="display:none;"> 
        <script>
             // @license magnet:?xt=urn:btih:1f739d935676111cfff4b4693e3816e664797050&dn=gpl-3.0.txt GPL-3.0-or-later

                   setTimeout(function () {
                      const video = document.getElementsByClassName("video")
                      for(var counter = 0; counter < video.length; counter++){
video[counter].classList.add("shake");
}
                   }, 13700)
               // @license-end

                                     </script>
            </div>             
   <% } %> 

     <% if (q != "do the harlem shake") { %>  
              <a class="class" href="/143" style=font-family:Inter,sans-serif;color:#fff>  <img style="transform: scale(1.3);width:8.5em;display: block;margin-left: auto;margin-right: auto;" src="/css/logo.svg?v=5"></a>
            </div>             
   <% } %> 
            <div class=right>
              <a href="/domains"><i  style="display: block;margin-left: auto;margin-right: auto;" class="fa-light fa-server"></i>  </a>
              <a href="/privacy"><i class="fa-light fa-shield"></i></a>
              <a href="/video/upload?from="><i class="fa-light fa-video"></i></a> 
              <a href="https://github.com/iamashley0/poketube/issues"><i class="fa-light fa-bug"></i></a>
            </div>
     
      </nav><br>
  
 
  
  <div class="discover-some-bitches">
             <div class="video-title" style="font-family:'Ginto nord';font-weight:900;white-space:yes;font-size: xxx-large;">SEARCHING VIDEOS ON POKETUBE</div>
 				<div class="video-info-bar" style="font-family:'Ginto nord';border-bottom:none;padding:0;font-size: small;">
          Wow ur searching videos?? how
   </div>
   </div>
      
        <div class=search>

        <form action=/search>
   <input class="search-bar" autocomplete="on" id="fname" name="query" value="<%=q%>" placeholder="search some videos lol "style="color:#fff;font-family:Inter,sans-serif;border-radius: 8px;">


          <button class="btn btn-success" type=submit><i class="fa-light fa-search"></i></button></form>
      </div>
                       <br>             <br>
             <br>             <br>
             <br>            <br style="display: none;">          
           
       </div>
  <div class="channel-page"   style="background-color: var(--channel-contents-background);">   

            <%  if (Array.isArray( j.Search.Results.Video)) { %> 
              
<p style="font-family: Inter;">
  <%=j.Search.estimatedResults.toLocaleString()%> Results
              </p>
     
       <% j.Search.Results.Video.forEach(x => { %>
         <div class="video-list" >
           
    <div class="video">
      <a
        href="/watch?v=<%= x.id %>"
        class="thumbnail"
        style="background-image: url('https://p.poketube.fun/https://i.ytimg.com/vi/<%= x.id %>/hqdefault.jpg?sqp=-oaymwEXCNAFEJQDSFryq4qpAwkIARUAAIhCGAE=&amp;rs=AOn4CLBmAOZV7CM3NdDKlEFxGX7PpI5UWQ');border-radius: 20px;"
         ><span class="video-length"><%=x.duration %></span></a>
      <div class="info" style="color:#fff;text-align: left;">
        <a style="color:#fff;font-family: 'Ginto Nord'" href="/watch?v=<%= x.id %>" class="title max-lines-2"
          ><%= x.Title %></a>
        <div style="display: flex; flex-direction: column; row-gap: 8px;font-family: 'Inter'">
          <a href="/watch?v=<%= x.id %>"><span><%= x.views %> views</span> <span>•</span> <span><%= x.uploadedAt %></span></a>
          <a href="/channel?id=<%= x.Channel.id %>">By <%=x.Channel.Name %></a>
        </div>
      </div>
    </div>
          
          </div>      
                                </div>

                <% }) %>   
                  
<a style="background-color: #353030;width: fit-content;border-radius: 3px;padding: 4px;" href="/search?query=<%=q%>&continuation=<%=j.Search.continuation%>">Next Page</a>
          
      
                                  <% } %>   
            <%  if (!Array.isArray( j.Search.Results.Video)) { %>
              <br>
             <h1 style="font-family:'Ginto nord';font-weight:900;white-space:yes;">
               <img src="https://p.poketube.fun/https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.explicit.bing.net%2Fth%3Fid%3DOIP.GUMY7MavfJyrfhjKbPKB9wHaDt%26pid%3DApi&f=1">
              </h1>
              <p>A error occured while searching. perhaps try refresing the page lol</p>
              <p>
	You can try other alternatives to access this resource such as: 
	<b>
		<a href="https://invidio.us/results?q=<%=q%>">Invidious</a>
	</b> 
	or
	<b>
		<a href="https://tube.kuylar.dev/results?search_query=<%=q%>">lighttube</a>
	</b>
</p>
                                  <% } %>   
                                    


        </a>
        </div>
                                    
                            
   </body>
                              
 
