 <!--
    This Source Code Form is subject to the terms of the GNU General Public License:

    Copyright (C) 2021-2022 POKETUBE (https://github.com/iamashley0/poketube)
    
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see https://www.gnu.org/licenses/.
-->
<!DOCTYPE html>
<head>
<title>Searching <%=q%> - PokeTube</title>
<link href="//vjs.zencdn.net/7.10.2/video-js.min.css" rel="stylesheet">
 <link href=/css/yt-ukraine.svg?v=6 rel=icon>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel=stylesheet>
<link href=/css/app-cdn.min.css rel=stylesheet>
<link href=/css/app.main.css rel=stylesheet>
<link href=/css/search.main.css rel=stylesheet>
 <link href=/css/watch.main.css rel=stylesheet>
<style>
   a.class:hover {
    text-decoration:underline;
    font-weight:bold
}
  summary{
    color:blue;
}
summary:hover{
    color:red;
}
            @font-face {
        font-family: 'Ginto Nord';
        font-weight: 800;
        src:url('https://cdn.statically.io/gh/brecert/discord-quote-generator/main/Ginto-Nord-800.woff') format("woff");
      }
 
</style>
  <style>
    
    nav {
      background:#0f0b0b
    }
    
  nav .right {
 display: flex;
border-radius: 5px;
justify-content: normal;
padding-left: 0px;
align-items: center;
margin-left: 10px;
}
    
    nav .left {
    display: flex;
justify-content: flex-start;
align-items: center;
border-radius: 5px;
 padding-left: 0px;
margin-right: 40px;
    }
    
    nav .middle {
      display: flex;
 justify-content: center;
align-items: center;
border-radius: 5px;
    }
  </style>
 </head>

  <body>
     <center>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@900&family=Sigmar+One&display=swap" rel=stylesheet>
    <link href=https://pro.fontawesome.com/releases/v5.15.3/css/all.css rel=stylesheet>
         <nav>
           <div class=left><a class="class" href="/143" style=font-family:Inter,sans-serif;color:#fff> <img style="width: 8.5em;display: block;margin-left: auto;margin-right: auto;" src="/css/logo.svg?v=5">                                                                                                                <a href="/domains"><i  style="display: block;margin-left: auto;margin-right: auto;" class="fas fa-server"></i>  </a></div>               </div>
        <div class=middle>
                <form action=/search><input class=search-bar value="<%=q%>" autocomplete="on" id=fname name=query style="color:#fff;font-family:Inter,sans-serif;"> <button class="btn btn-success" type=submit><i class="fas fa-search"></i></button></form>
            </div>
            <div class=right><a href="/privacy"><i class="fas fa-shield"></i></a><a href="/video/upload?from="><i class="fas fa-video"></i></a> <a href="https://github.com/iamashley0/poketube/"><i class="fab fa-git-alt"></i></a><a href="https://github.com/iamashley0/poketube/issues"><i class="fas fa-bug"></i></a></a></div>
        </nav>
            <div class="app">
       <% j.Search.Results.Video.forEach(x => { %>
         <div class="video-list">
    <div class="video">
      <a
        href="/watch?v=<%= x.id %>"
        class="thumbnail"
        style="background-image: url('https://i.ytimg.com/vi/<%= x.id %>/hqdefault.jpg?sqp=-oaymwEXCNAFEJQDSFryq4qpAwkIARUAAIhCGAE=&amp;rs=AOn4CLBmAOZV7CM3NdDKlEFxGX7PpI5UWQ');border-radius: 20px;"
         ><span class="video-length"><%=x.duration %></span></a>
      <div class="info" style="color:#fff;text-align: left;">
        <a style="color:#fff;font-family: 'Ginto Nord'" href="/watch?v=<%= x.id %>" class="title max-lines-2"
          ><%= x.Title %></a>
        <div style="display: flex; flex-direction: column; row-gap: 8px;font-family: 'Inter'">
          <a href="/watch?v=<%= x.id %>"><span><%= x.views %> views</span> <span>•</span> <span><%= x.uploadedAt %></span></a>
          <a href="/channel?id=<%= x.Channel.id %>">By <%=x.Channel.Name %></a>
        </div>
      </div>
    </div>
    </div>
  </div>
               <% }) %>   
                 </div> 
         <p>
          and thats the end of the internet... wooo
        </p>

   </body>
                              
 
